In [ ]:
# Agrupamento de Dados com Pandas
# Exemplo Notebook

import pandas as pd

# Introdução ao Agrupamento com Pandas

# 1. Criando um DataFrame de exemplo
df = pd.DataFrame({
    'Equipe': ['A', 'B', 'A', 'B'],
    'Pontos': [10, 20, 15, 25]
})
print("DataFrame Original:")
print(df)

DataFrame Original:
  Equipe  Pontos
0      A      10
1      B      20
2      A      15
3      B      25

In [ ]:
for name, group in df.groupby('Equipe'):
    print(name)
    print(group)

A
  Equipe  Pontos
0      A      10
2      A      15
B
  Equipe  Pontos
1      B      20
3      B      25

In [ ]:
grouped = df.groupby("Equipe")
print(grouped.get_group("A"))

  Equipe  Pontos
0      A      10
2      A      15

In [ ]:
# 2. Operações Básicas com groupby
# Agrupando e calculando a média
grupo = df.groupby('Equipe')
print("\nMédia dos Pontos por Equipe:")
print(grupo.mean())

# Operações com outras funções: soma, contagem, mínimo e máximo
print("\nSoma dos Pontos por Equipe:")
print(grupo.sum())

print("\nContagem de Entradas por Equipe:")
print(grupo.count())

print("\nValor Mínimo e Máximo de Pontos por Equipe:")
print("Mínimo:\n", grupo.min())
print("Máximo:\n", grupo.max())

Média dos Pontos por Equipe:
        Pontos
Equipe
A         12.5
B         22.5

Soma dos Pontos por Equipe:
        Pontos
Equipe
A           25
B           45

Contagem de Entradas por Equipe:
        Pontos
Equipe
A            2
B            2

Valor Mínimo e Máximo de Pontos por Equipe:
Mínimo:
         Pontos
Equipe
A           10
B           20
Máximo:
         Pontos
Equipe
A           15
B           25

In [ ]:
# 3. Agrupamento por Múltiplas Colunas
df_mult = pd.DataFrame({
    'Equipe': ['A', 'A', 'B', 'B'],
    'Ano': [2020, 2021, 2020, 2021],
    'Pontos': [10, 15, 20, 25]
})
grupo_mult = df_mult.groupby(['Equipe', 'Ano']).mean()
print("\nMédia de Pontos por Equipe e Ano:")
print(grupo_mult)

Média de Pontos por Equipe e Ano:
             Pontos
Equipe Ano
A      2020    10.0
       2021    15.0
B      2020    20.0
       2021    25.0

In [ ]:
# 4. Aplicação de Funções Customizadas
def range_func(x):
    return x.max() - x.min()

grupo_custom = df.groupby('Equipe')['Pontos'].apply(range_func)
print("\nDiferença entre o Máximo e Mínimo de Pontos por Equipe:")
print(grupo_custom)

Diferença entre o Máximo e Mínimo de Pontos por Equipe:
Equipe
A    5
B    5
Name: Pontos, dtype: int64

In [ ]:
# 5. Agregação com Várias Funções
df_agg = pd.DataFrame({
    'Equipe': ['A', 'A', 'B', 'B'],
    'Pontos': [10, 20, 15, 25],
    'Assistências': [5, 3, 6, 4]
})
grupo_agg = df_agg.groupby('Equipe').agg({
    'Pontos': ['sum', 'mean'],
    'Assistências': 'max'
})
print("\nAgregação com Várias Funções:")
print(grupo_agg)

Agregação com Várias Funções:
       Pontos       Assistências
          sum  mean          max
Equipe
A          30  15.0            5
B          40  20.0            6

In [ ]:
# 6. Filtragem de Grupos
grupo_filtrado = df.groupby('Equipe').filter(lambda x: x['Pontos'].mean() > 12)
print("\nFiltragem de Grupos com Média de Pontos > 12:")
print(grupo_filtrado)

Filtragem de Grupos com Média de Pontos > 12:
  Equipe  Pontos
0      A      10
1      B      20
2      A      15
3      B      25

In [ ]:

# 7. Transformação de Dados
df['Pontos_Ajustados'] = df.groupby('Equipe')['Pontos'].transform(lambda x: x - x.mean())
print("\nDataFrame com Pontos Ajustados por Equipe:")
print(df)

DataFrame com Pontos Ajustados por Equipe:
  Equipe  Pontos  Pontos_Ajustados
0      A      10              -2.5
1      B      20              -2.5
2      A      15               2.5
3      B      25               2.5

In [ ]:
# 8. Operações Avançadas com Descrição Estatística
grupo_describe = df.groupby('Equipe')['Pontos'].describe()
print("\nEstatísticas Descritivas dos Pontos por Equipe:")
print(grupo_describe)

Estatísticas Descritivas dos Pontos por Equipe:
        count  mean       std   min    25%   50%    75%   max
Equipe
A         2.0  12.5  3.535534  10.0  11.25  12.5  13.75  15.0
B         2.0  22.5  3.535534  20.0  21.25  22.5  23.75  25.0